.postPage {
  width:95%;
  margin:0 auto;
  padding:2vh;
  display:grid;
  grid-template-rows:15% 80%;
}

.postPage nav{
  display:grid;
  width:100%;
  grid-template-columns:30% 60%;
  justify-content:space-between;
  align-items:center;
}


.postPage ul{
  list-style-type:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-left:-5vw;
  font-size:medium;
}

.postPage li:hover{
  opacity:.6;
  cursor:pointer;
}

.postPage ul span{
  margin-right:-7vw;
}

.posts{
  width:70%;
  justify-self:right;
  display:grid;
  grid-template-columns:30% 30% 30%;
  grid-row-gap:5vh;
  justify-content:space-around;
  margin-top:2vh;
  align-content:space-around;
}

.posts>section{
  border-radius:5vh;
  cursor:pointer;
  height:45vh;
  display:flex;
  flex-direction:column;
  background-color:#64748b;
}

.posts section img{
  width:100%;
  height:60%;
  border-radius:5vh;
}

.description {
  display:flex;
  align-content:space-evenly;
  flex-wrap:wrap;
  height:40%;
}

.description section{
  width:85%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  font-size:small;
  align-items:center;
}


.description section div{
  display:flex;
  width:55%;
  font-size:small;
  align-items:center;
  justify-content:space-around;
}

.description h5{
  margin:0 auto;
  width:90%;
}

.description section span{
  width:12px;
  height:12px;
  border-radius:100%;
  background-color:black;
}

.description section>p{
  background-color:#60a5fa;
  padding:1vh;
  border-radius:5vh;
}

.description section p{
  margin:0;
}

.description section>p:hover{
  background-color:#3b82f6;
}
